-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: craylife_db
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'admin','micahavrill14@gmail.com','scrypt:32768:8:1$j92iBDhLc2UOD9ot$1c9f7a4ecaaf4696ec21c03c3b27ece5721307f1a7277d1acda9697b74935af563d3bf096acee20492631f15097ac338a21b6decada58db3a55f9af8e2854a60','2025-11-24 23:25:44');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `batch`
--

LOCK TABLES `batch` WRITE;
/*!40000 ALTER TABLE `batch` DISABLE KEYS */;
INSERT INTO `batch` VALUES (19,'Batch 1 - W1',1,'2026-09-16 04:09:38',82,'Active'),(20,'Batch 2 - W1',1,'2026-09-16 04:12:01',68,'Active'),(21,'Batch 3 - W1',1,'2026-09-16 04:14:04',14,'Active'),(22,'Batch 4 - W1',1,'2026-09-16 04:14:52',18,'Active'),(23,'Batch 5 - W1',1,'2026-09-16 04:16:13',12,'Active'),(24,'Batch 6 - W1',1,'2026-09-16 04:16:55',54,'Active'),(25,'Batch 7 - W1',1,'2026-09-16 04:18:31',48,'Active'),(26,'Batch 8 - W1',1,'2026-09-16 04:21:00',10,'Active'),(27,'Batch 9 - W1',1,'2026-09-16 04:21:56',74,'Active'),(28,'Batch 10 - W1',1,'2026-09-16 04:23:29',42,'Active');
/*!40000 ALTER TABLE `batch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sale`
--

LOCK TABLES `sale` WRITE;
/*!40000 ALTER TABLE `sale` DISABLE KEYS */;
/*!40000 ALTER TABLE `sale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `monitoring_record`
--

LOCK TABLES `monitoring_record` WRITE;
/*!40000 ALTER TABLE `monitoring_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `monitoring_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `classification_log`
--

LOCK TABLES `classification_log` WRITE;
/*!40000 ALTER TABLE `classification_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `classification_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sensor_device`
--

LOCK TABLES `sensor_device` WRITE;
/*!40000 ALTER TABLE `sensor_device` DISABLE KEYS */;
/*!40000 ALTER TABLE `sensor_device` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sensor_reading`
--

LOCK TABLES `sensor_reading` WRITE;
/*!40000 ALTER TABLE `sensor_reading` DISABLE KEYS */;
/*!40000 ALTER TABLE `sensor_reading` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `water_level_log`
--

LOCK TABLES `water_level_log` WRITE;
/*!40000 ALTER TABLE `water_level_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `water_level_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `monitoring_alert`
--

LOCK TABLES `monitoring_alert` WRITE;
/*!40000 ALTER TABLE `monitoring_alert` DISABLE KEYS */;
/*!40000 ALTER TABLE `monitoring_alert` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `batch_growth_record`
--

LOCK TABLES `batch_growth_record` WRITE;
/*!40000 ALTER TABLE `batch_growth_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `batch_growth_record` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-17 12:47:27
